html{
    background-color: purple;
    color: blue;
}

p {
    font-size: 24px;
}

img {
    border: solid 5px yellow;
    width: 30vw;
    height: auto;
}

p>span{
    font-size: 60px;
    color: yellow;

}

#duck{
    display: block;
    float: right;
}

#face{
    float: right;
}

#star{
    float: left;
}

footer>img{
    border:none;
}
footer {
    color: white;
    font-size: 24px;
    position: fixed;
    width: 100%;   
    height: 20vh;
    z-index: 99; 
}

main~button{
    background-color: red;
    color: white;
    font-size: 5vh;
    width: 250px;
    height: 250px;
    text-align: center;
    border-radius: 50%;
    border: solid black 15px;
    box-shadow: 50px 30px 10px rgb(205, 50, 146);
}

header {
    width: 100%
}

h1 {
    text-align: center;
    font-size: 10vh;
    color:yellow;
}

.blanks {
    width: 20%;
    height: 20vh;
    float: right;
}