html{
    background-color: purple;
    color: blue;
}

p {
    font-size: 24px;
}

img {
    border: solid 5px yellow;
    width: 30vw;
    height: auto;
}

p>span{
    font-size: 60px;
    color: yellow;

}

#duck{
    display: inline-block;
}

#face{
    float: right;
}

#star{
    float: left;
}

footer>img{
    border:none;
}
footer {
    color: white;
    font-size: 24px;
    position: fixed;
    width: 100%;   
    height: auto;
    z-index: 99; 
}